* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #A4A4A4;
}
li, input, label, p {
    font-size: 2rem;
}
h1 {
    font-size: 7.2rem;
}
h3 {
    font-size: 3rem;
}
a {
    color: black;
    text-decoration: none;
}

/* NAV SECTION WITH HEADER */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform .2s;
}
nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    padding: 2rem;
    margin: auto;
    align-items: center;
}
nav ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
nav ul li{
    transition: transform .2s;
}
nav ul li:hover{
    transform: scale(1.2);
}

#logo {
    flex: 2;
}




/* HOME */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20rem 0 20rem 10rem;
    margin: auto;
    gap: 8rem;
}
.titleAndContent {
    width: fit-content;
    flex: 1;
}
#title {
    font-weight: normal;
    font-size: 6vw;
}
.contentDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 25px 0;
}
#hireBtn {
    min-height: 55px;
    background-color: black;
    color: white;
    border: 0;
    font-size: 2.7rem;
    font-size: 1.5vw;
    flex: 1;
    transition: transform .2s;
    cursor: pointer;
}
#hireBtn:hover {
    transform: scale(1.1);
}
.contentText {
    text-align: end;
    flex: 2;
}
.contentText p{
    font-size: 1.6vw;
}
.contactDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contactDiv img {
    margin-left: 40px;
    transition: transform .2s;
}
.contactDiv img:hover {
    transform: scale(1.3);
}
#scribbles {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.scribble > p {
    font-family: 'EB Garamond', serif;
}
#scribbles div:nth-child(1) {
    flex: 1;
    align-self: center;
}
#scribbles div:nth-child(2) {
    align-self: flex-start;
}
#scribbles div:nth-child(3) {
    align-self: center;
}
#scribbles div:nth-child(4) {
    align-self: flex-start;
}
#scribbles div:nth-child(5) {
    align-self: flex-end;
}
#scribbles div:nth-child(6) {
    align-self: flex-start;
}
#scribbles div:nth-child(7) {
    align-self: flex-start;
}
#scribbles div:nth-child(8) {
    align-self: center;
}
#scribbles div:nth-child(9) {
    align-self: flex-end;
}
#scribbles div:nth-child(1) > p{
    font-size: 2.5rem;
    transform: rotate(-10deg);
}
#scribbles div:nth-child(2) > p{
    font-size: 1.5rem;
    transform: rotate(30deg);
}
#scribbles div:nth-child(3) > p{
    font-size: 1rem;
    transform: rotate(70deg);
}
#scribbles div:nth-child(4) > p{
    font-size: 1rem;
    transform: rotate(-20deg);
}
#scribbles div:nth-child(5) > p{
    font-size: 1.5rem;
    transform: rotate(30deg);
}
#scribbles div:nth-child(6) > p{
    font-size: 1rem;
    transform: rotate(75deg);
}
#scribbles div:nth-child(7) > p{
    font-size: 1.5rem;
    transform: rotate(15deg);
}
#scribbles div:nth-child(8) > p{
    font-size: 2.5rem;
    transform: rotate(-5deg);
}
#scribbles div:nth-child(9) > p{
    font-size: 1.5rem;
}


.arrow-down {
    display: flex;
    flex-direction: column;
    width: 60px;
    transition: transform .2s;
}
.arrow-down:hover {
    transform: scale(1.3);
}


section {
    min-height: 100vh;
}

#works, #contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 10rem 7rem 0 7rem;
}

#contact {
    align-items: flex-start;
}

#works {
    align-items: center;
}

#works .arrow-down {
    align-self: flex-start;
}

#works h3 {
    text-align: center;
}

#work-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    gap: 7rem;
}

.work-card {
    height: 30rem;
    width: 30rem;
    background-color: #C8C8C8;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 8px rgb(0, 0, 0, .24));
    transition: transform .2s;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


.work-card:hover {
    transform: scale(1.1);
}

#contact {
    flex-direction: row;
    margin-bottom: 10rem;
}

#contact > div, #contact form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contact form {
    width: 80%;
}

#contact form > input, #contact form > textarea {
    width: 100%;
    height: 50px;
    border: 0;
    padding: 0 10px;
    background-color: #C8C8C8;
}

#contact form > textarea {
    height: 150px;
    padding: 10px;
}

#contact form > label {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

#contact form > button {
    width: 100%;
    height: 50px;
    background-color: #393939;
    color: white;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about > div {
    width: 70%;
}

#about p {
    font-family: 'EB Garamond', serif;
}

#resume {
    background-color: #393939;
    color: white;
    border: 0;
    font-size: 1.5rem;
    padding: 1.5rem;    
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #393939;
    color: white;
    border: 0;
    font-size: 1.5rem;
}

footer p {
    font-size: 1.2rem;
}